<main class="app-main d-flex">
  <aside class="app-sidebar d-flex">
    <app-sidebar class="d-flex"></app-sidebar>
  </aside>
  <section class="app-content">
    <div class="app-topbar d-flex ai-center jc-flex-end">
      <ul class="d-flex ai-center">
        <li class="d-flex ai-center"><img src="../../../assets/images/menu.svg" alt="menu icon"></li>
        <li class="d-flex ai-center"><img class="icons" src="../assets/images/icons.png" alt=""></li>
      </ul>
    </div>
    <app-display-segments></app-display-segments>
  </section>
</main>