
<div class="add-form add-table-form">
    <h2 class="title">Add a table</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-field d-flex fd-column">
            <label for="name">Name*</label>
            <input type="text" formControlName="title"  id="name" (blur)="onBlur()">
        </div>
        <div class="input-field d-flex fd-column">
            <label for="name">Icon</label>
            <input  
             class="icon"
             type="text"
             placeholder="Select icon"
             formControlName="icon"
             (click)="toggleEmoji()"
            />
            <emoji-mart *ngIf="toggled" title="Pick your emoji…" emoji="point_up" (emojiClick)="addEmoji($event)"></emoji-mart>

        </div>
        <div class="input-field d-flex fd-column">
            <label for="name">Color</label>
            <span class="input-color" [style.background-color]="color"></span>
            <input type="text" formControlName="color" id="color" (click)="toggleColor()">
            <div class="color-pallet" *ngIf="colorToggled">
                <ul class="color-group d-flex fw-wrap">
                    <li *ngFor="let color of colors">
                        <span (click)="setColor(color)" class="color-dot" [style.background-color]="color" ></span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div>
            <div class="btn-group d-flex">
                <button [disabled]="!form.valid" [ngClass]="{'btn--disabled': !form.valid}" class="btn btn--form btn--primary" type="submit">Save</button>
                <span [mat-dialog-close]="true" class="btn btn--form btn--outline">Cancel</span>
            </div>
        </div>
    </form>
</div>
