/* You can add global styles to this file, and also import other style files */
@import '~@ctrl/ngx-emoji-mart/picker';
@import './assets/flex.scss';
@import './assets/variables.scss';

html{
    font-size: 16px;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn{
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    .icon{
        margin-right: 10px;
        margin-left: 10px;
    }
    &--primary{
        background-color: $secondary-color;
        color: #fff;
    }
    &--left-align{
        text-align: left;
        justify-content: flex-start;
    }
    &--form{
        min-width: 150px;
        text-align: center;
        height: 45px;
    }
    &--outline{
        border: 2px solid $secondary-color;
        color: $secondary-color;
        background-color: transparent;
    }
    &--disabled{
        background: rgba(60, 60, 60, 0.5);
        color: #fff;
        cursor: not-allowed;
    }
}

.search{
    margin: 40px 0 20px 0;
    input{
        height: 35px;
        width: 100%;
        border: 1px solid #CCCCCC;
        padding: 0 10px;
        box-sizing: border-box;
        color: rgba(60, 60, 60, 0.5);
        font-size: 14px;
        font-weight: bold;
        &::placeholder {
            color: rgba(60, 60, 60, 0.5);
          }
    }
}
.tooltip{
    background-color: $secondary-color;
    color: #fff;
    min-height: 18px;
    border-radius: 0 !important;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.add-form{
    .title{
        font-size: 22px;
        color: #3C3C3C;
        margin-bottom: 30px;
    }
    .input-field{
        margin-bottom: 30px;
        position: relative;
        label{
            color: #3C3C3C;
            font-weight: bold;
            font-size: 1rem;
            margin-bottom: 8px;
        }
        .input-color{
            position: absolute;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            bottom: 8px;
            left: 10px;
        }
        textarea{
            min-height: 120px;
            max-height: 120px;
        }
        input, textarea{
            height: 40px;
            border: 0.5px solid #888888;
            border-radius: 5px;
            color: rgba(60, 60, 60, 0.6);
            font-size: 14px;
            font-weight: bold;
            padding: 0 8px;
            box-sizing: border-box;
            &::placeholder{
                color: rgba(60, 60, 60, 0.3);      
            }
            &:focus{
                outline: none;
                border: 2px solid #334BFA;
            }
            &.icon{
                color: #000;
                font-size: 24px;
                &::placeholder{
                    font-size: 14px;
                }
            }
            &#color{
                color: transparent;
                font-size: 0;
            }
            &.ng-touched.ng-invalid{
                border-color: red;
                color: red;
            }
        }
        textarea {
            padding: 10px;
        }
    }
    .btn-group{
        .btn{
            margin-right: 15px;
        }
    }
}
.helper-text{
    font-size: 10px;
    margin-top: 5px;
    &--error{
        color: red;
    }
}
.mat-dialog-container{
    padding: 40px !important;
}
.emoji-mart{
    width: 100% !important;
    position: absolute;
    z-index: 2;
    .emoji-mart-scroll{
        max-height: 140px;
    }
}